<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ass3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>Datasource</description>
    <res-ref-name>jdbc/HSQLDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>ConsumerHomeServlet</display-name>
    <servlet-name>ConsumerHomeServlet</servlet-name>
    <servlet-class>com.enterprise.web.helper.ConsumerHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsumerHomeServlet</servlet-name>
    <url-pattern>/ConsumerHomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingQueryServlet</display-name>
    <servlet-name>BookingQueryServlet</servlet-name>
    <servlet-class>com.enterprise.web.helper.BookingQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingQueryServlet</servlet-name>
    <url-pattern>/BookingQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectRoomTypeServlet</display-name>
    <servlet-name>SelectRoomTypeServlet</servlet-name>
    <servlet-class>com.enterprise.web.helper.SelectRoomTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectRoomTypeServlet</servlet-name>
    <url-pattern>/SelectRoomTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExtraBedServlet</display-name>
    <servlet-name>ExtraBedServlet</servlet-name>
    <servlet-class>com.enterprise.web.helper.ExtraBedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExtraBedServlet</servlet-name>
    <url-pattern>/ExtraBedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentServlet</display-name>
    <servlet-name>PaymentServlet</servlet-name>
    <servlet-class>com.enterprise.web.helper.PaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentServlet</servlet-name>
    <url-pattern>/PaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffLoginServlet</display-name>
    <servlet-name>StaffLoginServlet</servlet-name>
    <servlet-class>com.enterprise.web.helper.StaffLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffLoginServlet</servlet-name>
    <url-pattern>/StaffLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HotelManagerServlet</display-name>
    <servlet-name>HotelManagerServlet</servlet-name>
    <servlet-class>com.enterprise.web.helper.HotelManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelManagerServlet</servlet-name>
    <url-pattern>/HotelManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HotelOwnerServlet</display-name>
    <servlet-name>HotelOwnerServlet</servlet-name>
    <servlet-class>com.enterprise.web.helper.HotelOwnerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelOwnerServlet</servlet-name>
    <url-pattern>/HotelOwnerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerControllerServlet</display-name>
    <servlet-name>ManagerControllerServlet</servlet-name>
    <servlet-class>com.enterprise.web.helper.ManagerControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerControllerServlet</servlet-name>
    <url-pattern>/ManagerControllerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckOutServlet</display-name>
    <servlet-name>CheckOutServlet</servlet-name>
    <servlet-class>com.enterprise.web.helper.CheckOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOutServlet</servlet-name>
    <url-pattern>/CheckOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerBookingServlet</display-name>
    <servlet-name>CustomerBookingServlet</servlet-name>
    <servlet-class>com.enterprise.web.helper.CustomerBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerBookingServlet</servlet-name>
    <url-pattern>/CustomerBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewBookingServlet</display-name>
    <servlet-name>ViewBookingServlet</servlet-name>
    <servlet-class>com.enterprise.web.helper.ViewBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBookingServlet</servlet-name>
    <url-pattern>/ViewBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsumerBookingControllerServlet</display-name>
    <servlet-name>ConsumerBookingControllerServlet</servlet-name>
    <servlet-class>com.enterprise.web.helper.ConsumerBookingControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsumerBookingControllerServlet</servlet-name>
    <url-pattern>/ConsumerBookingControllerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.enterprise.web.helper.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OwnerControllerServlet</display-name>
    <servlet-name>OwnerControllerServlet</servlet-name>
    <servlet-class>com.enterprise.web.helper.OwnerControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OwnerControllerServlet</servlet-name>
    <url-pattern>/OwnerControllerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBookingConfirmServlet</display-name>
    <servlet-name>AddBookingConfirmServlet</servlet-name>
    <servlet-class>com.enterprise.web.helper.AddBookingConfirmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBookingConfirmServlet</servlet-name>
    <url-pattern>/AddBookingConfirmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBookingServlet</display-name>
    <servlet-name>AddBookingServlet</servlet-name>
    <servlet-class>com.enterprise.web.helper.AddBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBookingServlet</servlet-name>
    <url-pattern>/AddBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBookingServlet</display-name>
    <servlet-name>DeleteBookingServlet</servlet-name>
    <servlet-class>com.enterprise.web.helper.DeleteBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBookingServlet</servlet-name>
    <url-pattern>/DeleteBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBookingConfirmServlet</display-name>
    <servlet-name>DeleteBookingConfirmServlet</servlet-name>
    <servlet-class>com.enterprise.web.helper.DeleteBookingConfirmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBookingConfirmServlet</servlet-name>
    <url-pattern>/DeleteBookingConfirmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HotelManagerLoginServlet</display-name>
    <servlet-name>HotelManagerLoginServlet</servlet-name>
    <servlet-class>com.enterprise.web.helper.HotelManagerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelManagerLoginServlet</servlet-name>
    <url-pattern>/HotelManagerLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HotelOwnerLoginServlet</display-name>
    <servlet-name>HotelOwnerLoginServlet</servlet-name>
    <servlet-class>com.enterprise.web.helper.HotelOwnerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelOwnerLoginServlet</servlet-name>
    <url-pattern>/HotelOwnerLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveBookingServlet</display-name>
    <servlet-name>RemoveBookingServlet</servlet-name>
    <servlet-class>com.enterprise.web.helper.RemoveBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveBookingServlet</servlet-name>
    <url-pattern>/RemoveBookingServlet</url-pattern>
  </servlet-mapping>
</web-app>